* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
}

body {
    background: linear-gradient(to bottom, rgba(181, 255, 255, 0.5), #00e5ff7c);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    overflow-y: auto;
    height: 100vh;
    width: 45%;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 5px;
}

.heading {
    border-bottom: 1px solid black;
    background-color: rgb(0, 187, 187);
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0;
}

.row {
    width: 90%;
    padding: 10px;
}

.row .h p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.inp {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.inp i {
    background-color: #8c2;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: spin 8s ease-in-out infinite;
    display: none;
}

.row input {
    padding: 10px 5px 10px 20px;
    background-color: rgba(0, 229, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 20px;
    width: 100%;
    font-size: 18px;
    margin-right: 20px;
}

.row input::placeholder {
    color: rgba(34, 34, 51, 0.3);
    font-style: italic;
    font-size: 16px;
}

hr {
    width: 100%;
    border: 1px solid rgba(34, 34, 51, 0.4);
    margin: 5px 0;
}

.result {
    background: linear-gradient(to bottom, #ffffff, #fafafa, #f4f4f4);
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    width: 50%;
    top: -105%;
    left: auto;
    z-index: 300;
}

.result img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    display: none;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading button {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.heading button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    color: black;
}

.grade {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid green;
    animation: spin 5s ease-in-out infinite;
    display: none;
}

.form button {
    width: 200px;
    padding: 15px;
    border-radius: 30px;
    background-color: black;
    color: white;
}

.form button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    color: black;
}

#name1 {
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 1px solid black;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1300px) {
    .container {
        width: 60%;
        height: 100vh;
    }
}

@media screen and (max-width: 750px) {
    .container {
        width: 80%;
    }

    .result {
        width: 95%;
        overflow-y: auto;
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .row input {
        width: 90%;
    }

    .container .heading {
        border-radius: 0;
        flex-direction: column;
        gap: 10px;
    }
}